{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('list_category') }}" class="btn btn-default">Back to Category List</a>
    <hr/>
    <h2 class="page-header">{{ categories.CategoryName }}</h2>
    <ul class="list-group">
        <li class="list-group-item">Created Date: {{ categories.CreateDate|date('F j,Y, g:i a') }}</li>

    </ul>
    {#    <p>{{ products.description }}</p>#}
{% endblock %}
